@theme {
  --color-black-400: #000000;
  --color-black-300: #171717;
  --color-black-200: #333236;
  --color-black-100: #4b4b4b;

  --color-gray-500: #787486;
  --color-gray-400: #9fa6b2;
  --color-gray-300: #d9d9d9;
  --color-gray-200: #eeeeee;
  --color-gray-100: #fafafa;

  --color-white-100: #ffffff;

  --color-violet-500: #5534da;
  --color-violet-500-08: #f1effd;
  --color-red-500: #d6173a;
  --color-green-500: #7ac555;
  --color-purple-500: #760dde;
  --color-orange-500: #ffa500;
  --color-blue-500: #76a5ea;
  --color-pink-500: #e876ea;

  --color-primary: var(--color-violet-500);
  --color-error: var(--color-red-500);
  --color-bg: var(--color-gray-100);
}
