/* 컬러 변수 */

:root {

  --black-000000: #000000;
  --black-171717: #171717;
  --black-333236: #333236;
  --black-4B4B4B: #4b4b4b;

  --gray-787486: #787486;
  --gray-9FA6B2: #9fa6b2;
  --gray-D9D9D9: #d9d9d9;
  --gray-EEEEEE: #eeeeee;
  --gray-FAFAFA: #fafafa;

  --white-FFFFFF: #ffffff;

  --violet-5534DA: #5534da;
  --violet-8: #f1effd;
  --red-D6173A: #d6173a;
  --green-7AC555: #7ac555;
  --purple-760DDE: #760dde;
  --orange-FFA500: #ffa500;
  --blue-76A5EA: #76a5ea;
  --pink-E876EA: #e876ea;
}
